$primary-color: #7d1935;

.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;
    color: #000;
}

html,
body
{
    height: 100%;
    margin: 50px;
    padding: 0;

    background-color: $primary-color;
}
.ng-background
{
    background-color: $primary-color;
}
table
{
    background-color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol
{
    color: #f5f3ee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer
{
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header
{
    margin-bottom: 10px;

    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3
{
    line-height: 40px;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer
{
    padding-top: 19px;

    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr
{
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron
{
    text-align: center;

    border-bottom: 1px solid #e5e5e5;
    background: url('../images/jumbotron.png') no-repeat center center;
    background-size: cover;
}
.jumbotron .btn
{
    font-size: 21px;

    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing
{
    margin: 40px 0;
}
.marketing p + h4
{
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
{
    .container
    {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer
    {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header
    {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron
    {
        border-bottom: 0;
    }
}

/*Sign in */
.main
{
    max-width: 320px;
    margin: 0 auto;
}
.login-or
{
    font-size: 18px;

    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #aaa;
}
.span-or
{
    position: absolute;
    top: -2px;
    left: 50%;

    display: block;

    width: 50px;
    margin-left: -25px;

    text-align: center;

    background-color: #fff;
}
.hr-or
{
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    background-color: #cdcdcd;
}
h3
{
    line-height: 300%;

    text-align: center;
}
