.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
}

body
{
    font-family: 'Droid Sans', sans-serif;

    margin: 0 0;
    margin-top: 50px;
    padding: 0 0;
}
.content-jalp
{
    margin: 2em 0 2em 0;
}

/*FRONT-PAGE*/
body
{
    font-family: 'Droid Sans', sans-serif;

    margin: 0 0;
    padding: 0 0;
}
header
{
    position: relative;

    width: 100%;
    height: 100px;

    border-bottom: 1px solid #e7e7e7;
}
header .logo
{
    height: 70px;
    margin-top: 10px;
}

.logo-blue
{
    color: #47589a;
}
.logo-green
{
    color: #10a355;
}
.logo-black
{
    color: #3f3f3f;
}
.nav-jalp
{
    float: right;
}
.nav-jalp > li > a
{
    line-height: 5em;

    display: block;

    height: 100px !important;

    color: #3f3f3f;
}
.nav-jalp > li > a:hover
{
    color: #47589a;
}
#block-intro-jalp
{
    position: relative;

    min-height: 550px;

    background: url('../images/infolab.jpg') no-repeat center center;
    background-size: cover;
}
.bg-overlay
{
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
}
.bg-overlay.pattern
{
    background: url('../images/pattern.png');
}
.intro-title-jalp
{
    transition: all .4s ease-in 0s;

    color: #fff;
}
.padding-jalp
{
    margin-top: 13em;
}
.btn-jalp
{
    font-size: 18px;
    font-weight: normal;

    position: relative;

    margin: 10px 3px;
    padding: 12px 34px;

    transition: all .2s ease-in 0s;

    color: #fff;
}
.intro-spot-jalp
{
    width: auto;
    max-height: 500px;
    margin-top: 8em;
}
#block-app-download
{
    position: relative;

    min-height: 300px;

    background: url('../images/beach.jpg') top center no-repeat;
    background-size: cover;
}
#block-app-download h2
{
    margin-top: 2em;
    /*color:black;*/
}
#block-app-download p
{
    color: #fff;
}
.intro-phone-jalp
{
    width: auto;
    max-height: 350px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.app-store img
{
    width: 153px;
    height: 45px;
}
#block-syn-jalp
{
    background-color: #f5f5f5;
}
#block-sync-jalp h2
{
    text-align: center;
}
#block-sync-jalp span
{
    margin-top: 2em;
}
#block-sync-jalp .app-description
{
    font-size: 90%;
    font-weight: bold;

    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;

    color: #989898;
}
#block-team
{
    position: relative;

    min-height: 300px;

    color: white;
    background: url('../images/intro.jpg') top center no-repeat;
    background-size: cover;
}

/*Profile*/
h6.description
{
    font-weight: bold;

    padding-bottom: 5px;

    letter-spacing: 2px;

    color: #999;
    border-bottom: 1px solid rgba(0, 0, 0,.1);
}
.profile
{
    margin-top: 25px;
}
.profile h1
{
    font-size: 20px;
    font-weight: normal;

    margin: 10px 0 0 0;

    text-shadow: 0 0 15px #000;
}
.profile h2
{
    font-size: 14px;
    font-weight: lighter;

    margin-top: 5px;
}
.profile .img-box
{
    position: relative;

    display: block;

    opacity: 1;
    box-shadow: 0 0 10px black;
}
.profile .img-box:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: 0;
    background-color: rgba(0, 0, 0, .75);
}
.img-box ul
{
    position: absolute;
    z-index: 2;
    bottom: 50px;

    width: 100%;
    height: 0;
    margin: 0;
    padding-left: 0;

    text-align: center;

    opacity: 0;
}
.profile .img-box:after,
.img-box ul,
.img-box ul li
{
    -webkit-transition: all .5s ease-in-out 0s;
       -moz-transition: all .5s ease-in-out 0s;
            transition: all .5s ease-in-out 0s;
}
.img-box ul i
{
    font-size: 20px;

    letter-spacing: 10px;
}
.img-box ul li
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 2px;
    padding: 5px;

    text-align: center;

    border: 1px solid #88c425;
}
.img-box a
{
    color: #fff;
}
.img-box:hover:after
{
    opacity: 1;
}
.img-box:hover ul
{
    opacity: 1;
}
.img-box ul a
{
    -webkit-transition: all .3s ease-in-out 0s;
       -moz-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.img-box a:hover li
{
    color: #88c425;
    border-color: #fff;
}
a
{
    color: #88c425;
}
a:hover
{
    text-decoration: none;

    color: #519548;
}
i.red
{
    color: #bc0213;
}

.footer-jalp
{
    padding: 2em 0 2em 0;

    color: white;
    background-color: rgba(0,0,0,.8);
}
.footer-jalp ul
{
    padding: 0;

    list-style-type: none;
}
.footer-jalp h3
{
    line-height: 2em;

    border-bottom: 1px solid #5d5d5d;
}
.copyright
{
    font-size: 11px;
}



/*Sign in */
.main
{
    max-width: 320px;
    margin: 0 auto;
}
.login-or
{
    font-size: 18px;

    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #aaa;
}
.span-or
{
    position: absolute;
    top: -2px;
    left: 50%;

    display: block;

    width: 50px;
    margin-left: -25px;

    text-align: center;

    background-color: #fff;
}
.hr-or
{
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    background-color: #cdcdcd;
}
h3
{
    line-height: 300%;

    text-align: center;
}

.table-controls
{
    border-top: 0;
    background-color: #7d1935;
}

.table-control
{
    font-size: 15pt;
    font-weight: 10;

    color: red;
    .glyphicon-ok
    {
        color: green;
    }
}


/*
START
Sensor Admin Error log CSS

*/

.error-timestamp
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.alert
{
    position: relative;

    overflow: auto;
}
.alert p
{
    color: black;
}
.alert-error
{
    border-color: #ffc266;
    background-image: -webkit-linear-gradient(top, #ffebcc 0%, #ffd699 100%);
    background-image:      -o-linear-gradient(top, #ffebcc 0%, #ffd699 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffebcc), to(#ffd699));
    background-image:         linear-gradient(to bottom, #ffebcc 0%, #ffd699 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebcc', endColorstr='#ffd699', GradientType=0);
}
.badge
{
    cursor: pointer;
}
.badge.info
{
    color: black;
    background-color: #5bc0de;
}
.badge.warning
{
    color: black;
    background-color: #fdfd96;;
}
.badge.error
{
    color: black;
    background-color: #ffc266;
}
.badge.critical
{
    color: black;
    background-color: #d9534f;
}

#errorLogContainer
{
    overflow-y: hidden;

    max-height: 500px;
}
/*
END
Sensor Admin Error log CSS

*/


/*
START
Dashboard

*/

/*
END
Dashboard

*/


/* Jalp table */
.jalp-table
{
    font-family: sans-serif;
    font-size: 115%;

    color: #fff;

    -webkit-font-smoothing: antialiased;
}

.jalp-table th
{
    font-weight: normal;

    text-align: left;

    color: white;
    border: none;
}
.jalp-table td
{
    font-size: 90%;

    padding: 20px 30px;

    color: rgb(111, 111, 111);
    color: white;
    border: none !important;
}
.jalp-table tr:nth-child(even)
{
    background-color: #222d3d;
}
.jalp-table tr:nth-child(odd)
{
    background-color: #273446;
}
.jalp-table tr:hover
{
    background-color: #3e516b;
}
