<div class="container-fluid" id="action-panel">
<div class="bg-overlay pattern"></div>
    <div class="container action-content animated fadeIn">


        <!-- DEBUG STARTS -->
        <!-- Script Object: <pre>{{scriptObj | json}}</pre>
        Actions Config: <pre>{{actionConfig | json}}</pre>
        Actions: <pre>{{sensorActions | json}}</pre> -->
        <!-- Condition Config: <pre>{{conditionConfig | json}}</pre> -->

        <button ng-if="currentStep == null" class="btn btn-lg pull-right glyphicon btn-primary glyphicon-plus" ng-click="setStep('condition')"></button>

        <!-- <button class="btn btn-lg pull-right glyphicon btn-primary glyphicon-plus" ng-init="setStep('condition')"></button> -->

        <button ng-if="currentStep != null" class="btn btn-lg pull-right glyphicon btn-danger glyphicon-minus" ng-click="clearSteps()"></button>

        <div class="clearfix"></div>
          <div ng-include='currentStep'></div>
        <hr>
        <table class="table jalp-table">
          <tr>
            <td>#</td>
            <td>Action</td>
            <td>Condition</td>
            <td>Timeout</td>
            <td>Action</td>
          </tr>
          <tr ng-repeat="script in scripts">
            <td>{{$index+1}}</td>
            <td>{{script.action}}</td>
            <td>{{script.condition}}</td>
            <td>{{script.timeout}}</td>
            <td><button class="btn btn-danger glyphicon glyphicon-trash btn-sm" confirmed-click="removeScript(script.$id)"
    ng-confirm-click="Are you sure to delete: {{script.condition}}" ></button></td>
          </tr>
        </table>
    </div>
</div>

<!-- Condition Template -->
<script type="text/ng-template" id="condition">

<!-- Action Container starts -->
<div class="action-container">

  <!-- Sensors Starts -->

  <div class="col-md-4 action-col">

    <p>Spots</p>
    <ul ng-repeat="spot in spots">
      <li>
        <label>
          <input type="radio" ng-model="conditionConfig.id" value="{{spot.$id}}" ng-click="showTypes(spot)"><span>{{spot.$id}}</span></label>
      </li>
    </ul>

    <h4>Time</h4>
    <ul ng-repeat="sensorType in sensorTypes" ng-if="sensorType.type == 'Time'">
      <label>
        <input type="radio" ng-model="conditionConfig.id" value="{{sensorType.value}}"  ng-click="showTypes(sensorType)"><span>{{sensorType.value}}</span></label>
    </ul>

  </div>
  <!-- Sensors Ends -->


  <!-- Types Starts -->
  <div class="col-md-4 action-col" ng-if="!checkIfTime() && conditionConfig.id">
    <p>Trigger</p>

    <h4>Number</h4>
    <ul ng-repeat="sensorType in sensorTypes" ng-if="sensorType.type == 'Number' && sensorType.selected == true">
      <label>
        <input type="radio" ng-click="setCurrentOperator(sensorType.type)" ng-model="conditionConfig.type" value="{{sensorType.value}}"><span>{{sensorType.value}}</span></label>
    </ul>

    <h4>Boolean</h4>
    <ul ng-repeat="sensorType in sensorTypes" ng-if="sensorType.type == 'Boolean' && sensorType.selected == true">
      <label>
        <input type="radio" ng-click="setCurrentOperator(sensorType.type)" ng-model="conditionConfig.type" value="{{sensorType.value}}"><span>{{sensorType.value}}</span></label>
    </ul>

    <h4>Others</h4>
    <ul ng-repeat="sensorType in sensorTypes" ng-if="sensorType.type == 'Long' && sensorType.selected == true">
      <label>
        <input type="radio" ng-click="setCurrentOperator(sensorType.type)" ng-model="conditionConfig.type" value="{{sensorType.value}}"><span>{{sensorType.value}}</span></label>
    </ul>

  </div>
  <!-- Types Ends -->


  <!-- Operators Starts -->
  <div class="col-md-4 action-col" ng-if="conditionConfig.type!=''">
    <div>
      <p>Operators</p>
      <ul ng-if="op.type == currentOperator" ng-repeat="op in operators">
        <label>
          <input type="radio" ng-model="conditionConfig.operator" value="{{op.operator}}"><span>{{op.operator}}</span></label>
      </ul>

      <div class="action-col">
        <input type="number" ng-if="currentOperator!='Boolean'" class="btn-block form-control" ng-model="conditionConfig.value" />
        <button ng-click="add()" class="btn btn-primary btn-block animated fadeIn">Add Condition</button>
      </div>

    </div>
  </div>


  <div class="action-col" ng-if="checkIfTime()">
    <input type="number" ng-if="currentOperator!='Boolean'" class="btn-block form-control" ng-model="conditionConfig.value" />
    <button ng-click="add()" class="btn btn-primary btn-block animated fadeIn">Add Condition</button>
  </div>


  <!-- Operators Ends -->


  <div class="row">
    <div class="col-md-12">

      <hr>
      <!-- Conditions buttons starts -->
      <div class="row container">
        <div ng-repeat="condition in conditions">
          <button class="unassigned-condition custom-condition-btn btn" ng-click="addCustom(condition.name)">{{condition.name}}</button>
        </div>
      </div>
      <!-- Conditions buttons ends -->


      <div class="row container-fluid">

        <!-- Conditions Keys Starts -->
        <div class="row container-fluid">
          <span class="custom-condition-btn btn btn-success" ng-disabled="conditions.length <=1 " ng-click="addCustom('AND')">AND</span>
          <span class="custom-condition-btn btn btn-success" ng-disabled="conditions.length <=1 " ng-click="addCustom('OR')">OR</span>
          <span class="custom-condition-btn btn btn-success" ng-disabled="conditions.length <=1 " ng-click="addCustom('NOT')">NOT</span>
          <span class="custom-condition-btn btn btn-warning" ng-disabled="conditions.length <=1 " ng-click="addCustom('(')">(</span>
          <span class="custom-condition-btn btn btn-warning" ng-disabled="conditions.length <=1 " ng-click="addCustom(')')">)</span>
          <span class="custom-condition-btn btn btn-danger" ng-disabled="conditions.length <=1 " ng-click="backspace()">Delete</span>
        </div>
        <!-- Conditions Keys Ends -->


        <!-- Conditions Panel Starts -->
        <div ng-if="conditions.length > 1" class="custom-condition-content row container-fluid">
          <span ng-repeat="cc in customConditions">
            <span ng-if="cc.condition == 'AND' || cc.condition == 'OR' || cc.condition == 'NOT'" class="custom-and-or">{{cc.condition}}</span>

          <span ng-if="cc.condition == '('" class="custom-left-bracket">{{cc.condition}}</span>

          <span ng-if="cc.condition == ')'" class="custom-left-bracket">{{cc.condition}}</span>

          <span ng-if="cc.condition.length>3" class="custom-default">{{cc.condition}}</span>
          </span>
        </div>
        <!-- Conditions Panel Ends -->

        <button ng-disabled="conditions.length<=0" ng-click="saveCondition(customConditions);setStep('action')" class="btn btn-primary btn-block pull-right">Save Condition</button>

      </div>
      <!-- Col-md-12 ends-->

    </div>
    <!-- row ends -->

  </div>
  <!-- Action Container Ends -->
</script>




<!-- Condition Template -->
<script type="text/ng-template" id="action">

<!-- Action Container starts -->
<div class="action-container">
  <p>Now add actions to this condition [<b>{{scriptObj.condition}}</b>]</p>

  <!-- Sensors Starts -->
  <div class="col-md-4 action-col">
    <p>Bases</p>
    <ul ng-repeat="base in bases">
      <li>
        <label>
          <input type="radio" ng-model="actionConfig.id" ng-change="actionConfig.sensorType = 'base'" value="{{base.$id}}"><span>{{base.$id}}</span></label>
      </li>
    </ul>

    <p>Spots</p>
    <ul ng-repeat="spot in spots">
      <li>
        <label>
          <input type="radio" ng-model="actionConfig.id" ng-change="actionConfig.sensorType = 'spot'" value="{{spot.$id}}"><span>{{spot.$id}}</span></label>
      </li>
    </ul>
  </div>
  <!-- Sensors Ends -->

  <!-- Actions Starts -->
  <div class="col-md-4 action-col">
    <p>Actions</p>

    <ul ng-repeat="sensorAction in sensorActions" ng-if="sensorAction.spot=='spot' && actionConfig.sensorType == 'spot'">
      <li>
        <label>
          <input type="radio" ng-model="actionConfig.action" value="{{sensorAction.action}}" ng-click="setTemplate(sensorAction.action)"><span>{{sensorAction.action}}</span>
        </label>
      </li>
    </ul>

    <ul ng-repeat="sensorAction in sensorActions" ng-if="sensorAction.spot=='base' && actionConfig.sensorType == 'base'">
      <li>
        <label>
          <input type="radio" ng-model="actionConfig.action" value="{{sensorAction.action}}" ng-click="setTemplate(sensorAction.action)"><span>{{sensorAction.action}}</span>
        </label>
      </li>
    </ul>
  </div>
  <!-- Actions Ends -->

  <!-- Options Starts -->
  <div class="col-md-4 action-col">
    <p>Options</p>
    <div ng-include=currentTemplate></div>
  </div>
  <!-- Options Ends -->

  <button class="btn btn-primary btn-block pull-right" ng-disabled="!actionConfig.id || !actionConfig.action || !actionConfig.params" ng-click="tempSaveAction(actionConfig);">Add Action</button>

  <!-- Time Starts -->
  <div class="col-md-12 action-col">
    <p>Timeout</p>
    <div class="form-group">
      <label>TIMEOUT in ms</label>
      <input [required="string"] class="form-control block" type="number" ng-model="scriptObj.timeout" />
    </div>
  </div>
  <!-- Time Ends -->

  <button class="btn btn-primary btn-block pull-right" ng-disabled="!actionObjects || !scriptObj.timeout" ng-click="saveAction();clearSteps();">Save Script</button>
</div>

</script>

<!-- BLINK Template -->
<script type="text/ng-template" id="BLINK">
<div class="form-group">
  <label>How long stays on in ms (1000ms = 1 s)</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[0]" />
</div>

<div class="form-group">
  <label>How long stays off in ms (1000ms = 1 s)</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[1]" />
</div>

<div class="form-group">
  <label>Red (0 - 255)</label> <a href="http://www.colorpicker.com/">Please refer http://www.colorpicker.com/</a>
  <input class="form-control block" type="number" ng-model="actionConfig.params[2]" />
</div>

<div class="form-group">
  <label>Green (0 - 255)</label> <a href="http://www.colorpicker.com/">Please refer http://www.colorpicker.com/</a>
  <input class="form-control block" type="number" ng-model="actionConfig.params[3]" />
</div>

<div class="form-group">
  <label>Blue (0 - 255)</label> <a href="http://www.colorpicker.com/">Please refer http://www.colorpicker.com/</a>
  <input class="form-control block" type="number" ng-model="actionConfig.params[4]" />
</div>

<div class="form-group">
  <label>Which leds to display as mapped to bits</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[5]" />
</div>

<div class="form-group">
  <label>How many cycles like this to repeat</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[6]" />
</div>
</script>

<!-- BEEP Template -->
<script type="text/ng-template" id="BEEP">
<div class="form-group">
  <label>Beep time in ms (1000ms = 1 s)</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[0]" />
</div>

<div class="form-group">
  <label>Silence time in ms (1000ms = 1 s)</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[1]" />
</div>

<div class="form-group">
  <label>Frequency in Hertz (200 - 8000 I think)</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[2]" />
</div>

<div class="form-group">
  <label>How many times to repeat</label>
  <input class="form-control block" type="number" ng-model="actionConfig.params[3]" />
</div>
</script>

<!-- KETTLE Template -->
<script type="text/ng-template" id="KETTLE">
<div class="form-group">
  <label>base mac address</label>
  <input class="form-control block" type="text" ng-model="actionConfig.params[0]" />
</div>

<div class="form-group">
  <label>String of command:</label>
  <ul>
    <li>OFF</li>
    <li>BOIL N (100/95/80/65)</li>
    <li>WARM N (0/5/10/20)</li>
  </ul>
  <input class="form-control block" type="text" ng-model="actionConfig.params[1]" />
</div>

</script>

<!-- EASYBULB Template -->
<script type="text/ng-template" id="EASYBULB">
<div class="form-group">
  <label>String of command</label>
  <ul>
    <li>ON</li>
    <li>OFF</li>
    <li>WHITE</li>
    <li>BRIGHTNESS</li>
    <li>COLOR</li>
  </ul>
  <input class="form-control block" type="text" ng-model="actionConfig.params[0]" />
</div>

<div class="form-group">
  <label>Group number: 1 / 2 / 3 / 4 / ALL</label>
  <input class="form-control block" type="text" ng-model="actionConfig.params[1]" />
</div>

<div class="form-group">
  <label>Argument (not applicable for ON, OFF or WHITE)</label>
  <ul>
    <li>-128 to -99 for BRIGHTNESS</li>
    <li>-128 to 127 for COLOUR</li>
  </ul>
  <input class="form-control block" type="text" ng-model="actionConfig.params[2]" />
</div>
</script>


<!-- NOTIFY Template -->
<script type="text/ng-template" id="NOTIFY">
<div class="form-group">
  <label>Notification Title</label>
  <input class="form-control block" type="text" ng-model="actionConfig.params[0]" />
</div>

<div class="form-group">
  <label>Notification Message</label>
  <input class="form-control block" type="text" ng-model="actionConfig.params[1]" />
</div>
</script>
