<!--/////////////////////////////////// OLD DESIGN ///////////////////////////////////-->
<!-- <div id="roomContainer" class="row">
</div>

<div id="roomTemplate" class="room col-xs-4 hidden">
	<div class="col-sm-6">
	    <div class="card card-block">
		  <div class="room-contents">
		  </div>
		  <div class="room-desc">
		    <p id="room-name">Room Name</p>
		    <p id="room-desc">A bit longer room description : might limit input to 140 chars.</p>
		    <p id="room-temp">No temperature reading</p>
		    <p id="room-light">No light reading</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>
	</div>
</div> -->


<!--/////////////////////////////////// NEW DESIGN ///////////////////////////////////-->
<style>
#room-dashboard{
	background-color:#2C3E50;
	position:relative;
}
.room:hover{
	    border-color: #a2d4d9;
}
.room{
		min-height: 200px;
    background-color: #2c3e50;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    color:#FFFFFF;
    margin:3em;
    box-shadow:0px 0px 0px #FFFFFF;

}
.room h3{
	line-height:100%;
	margin-top:10px;
}
.room hr{
	margin:1em;
}
.room input{
	color:black;
}
.new-room-button{
	position: absolute;
	width: 50px;
	top: 75px;
	left: 126px;

	background-color: #3e5871;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ddd;

}


.has-error input{
	background-color: rgb(169, 68, 66);
}

.room-values{
	background-color: #3e5871;
	min-height: 50px;
}

.icon{
	color: grey;
}
</style>

<div class="container-fluid" id="room-dashboard">
<div class="bg-overlay pattern"></div>
	<div class="container" >

		<div class="content-jalp">

			<div id="roomContainer" class="row">

				<div ng-repeat="room in rooms">
					<a href="/room?room={{room.name}}">
						<div id="{{room.$id}}" class="room col-md-3 animated flipInX" ng-init="getSensors(room.name)">

									<div class="card card-block">
									<div class="room-contents">
										<h3 id="room-name">{{room.name}}</h3>


										<div class="room-desc">
											<p id="room-desc">{{room.description}}</p>
											<p>{{roomSensors[room.name].length}} Sensors</p>
										<hr>
									</div>

										<div class="room-values">
											<div class="row">
												<div class="col-xs-6">
													<div ng-if="anyBoolean('infrared', roomSensors[room.name])"><object type="image/svg+xml" data="../images/icons/infrared.svg" class="icon active"></object></div>
													<div ng-if="!anyBoolean('infrared', roomSensors[room.name])"><object type="image/svg+xml" data="../images/icons/noinfrared.svg" class="icon inactive"></object></div>
												</div>
												<div class="col-xs-6">
														<div ng-if="anyBoolean('sound', roomSensors[room.name])"><object type="image/svg+xml" data="../images/icons/sound.svg" class="icon active"></object></div>
														<div ng-if="!anyBoolean('sound', roomSensors[room.name])"><object type="image/svg+xml" data="../images/icons/nosound.svg" class="icon inactive"></object></div>
												</div>
											</div>

											<div class="row">
												<div class="col-xs-3">

														<div ng-if="averageValue('temp',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/temp.svg" class="icon"></object>
															{{averageValue('temp',roomSensors[room.name])}}
														</div>
														<div ng-if="!averageValue('temp',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/temp.svg" class="icon"></object>
															&times;
														</div>
												</div>
												<div class="col-xs-3">
														<div ng-if="averageValue('light',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/light.svg" class="icon"></object>
															{{averageValue('light',roomSensors[room.name])}}
														</div>
														<div ng-if="!averageValue('light',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/light.svg" class="icon"></object>
															&times;
														</div>
												</div>
												<div class="col-xs-3">
														<div ng-if="averageValue('accel',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/accel.svg" class="icon"></object>
															{{averageValue('accel',roomSensors[room.name])}}
														</div>
														<div ng-if="!averageValue('accel',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/accel.svg" class="icon"></object>
															&times;
														</div>

												</div>
												<div class="col-xs-3">
														<div ng-if="averageValue('battery',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/battery.svg" class="icon"></object>
															{{averageValue('battery',roomSensors[room.name])}}
														</div>
														<div ng-if="!averageValue('battery',roomSensors[room.name])">
															<object type="image/svg+xml" data="../images/icons/battery.svg" class="icon"></object>
															&times;
														</div>
												</div>
											</div>

										</div>






									</div>

								</div>
						</div>
					</a>
				</div>


				<div id="" class="room col-md-3 animated flipInX">
						<div class="new-room-button" ng-click="unhideForm()">
							<span id="new-room-icon" class="glyphicon glyphicon-plus" ></span>
						</div>
						<form id="new-room-form" class="room-form hidden">
							<label class="control-label"> Room Name: <br><input class="form-control" id='newRoomName' type="text"></input></label>
							<label  class="control-label"> Room Description: <br><input class="form-control" id='newRoomDesc' type="text"></input></label>
								<br>
							<button class="btn btn-primary" ng-click="createRoom()">Submit</button>
							<button class="btn btn-danger" ng-click="cancelNewRoom()">Cancel</button>
						</form>

				</div>
			</div>




		</div>
	</div>
</div>
