<style>
#sensor-dashboard{
	background-color:#2C3E50;
	position:relative;
}
.sensor:hover{
	    border-color: #a2d4d9;
}
.sensor{
		min-height: 200px;
    background-color: #2c3e50;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    color:#FFFFFF;
    margin:3em;
    box-shadow:0px 0px 0px #FFFFFF;

}
.sensor h3{
	line-height:100%;
	margin-top:10px;
}
.sensor hr{
	margin:1em;
}
.sensor input{
	color:black;
}
.new-sensor-button{
	margin: 0 auto;
	background-color: #3e5871;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	max-width: 50px;
}


.has-error input{
	background-color: rgb(169, 68, 66);
}

</style>

<div class="container-fluid" id="sensor-dashboard">
<div class="bg-overlay pattern"></div>
	<div class="container" >

		<div class="content-jalp">

			<div id="sensorContainer" class="row">
<h1 style="color:white;">Room : {{roomName}}</h1>
				<div ng-repeat="sensor in sensors">
					<div id="{{sensor.$id}}" class="sensor col-md-3 animated flipInX">

								<div class="card card-block">
								<div class="sensor-contents">
									<h3 id="sensor-name">{{sensor.name}}</h3>


								
									<hr>
									
									<ul>
		                                <li>Alive: {{sensor.alive}}</li>
		                                <div ng-if="isBattery(sensor.liveData)" class="progress">
		                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{sensor.battery}}%;">
		                                    Battery: {{sensor.battery}}%
		                                  </div>
		                                </div>
		                                <li ng-if="isCompass(sensor.liveData)"><object type="image/svg+xml" data="../images/icons/compass.svg" width=100px height=100px class="icon active"></object>Compass: {{sensor.compass}}</li>
		                                <li ng-if="isInfrared(sensor.liveData)"><object type="image/svg+xml" data="../images/icons/infrared.svg" width=100px height=100px class="icon active"></object>Infrared: {{sensor.infrared}}</li>
		                                <li ng-if="isLight(sensor.liveData)">Light: {{sensor.light}}</li>
		                                <div ng-if="isTemp(sensor.liveData)" class="progress">
		                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{sensor.temp}}%;">
		                                    T: {{sensor.temp}} degrees
		                                  </div>
		                                </div>
		                                <li ng-if="isSound(sensor.liveData)"><object type="image/svg+xml" data="../images/icons/sound.svg" width=100px height=100px class="icon active"></object>Sound: {{sensor.sound}}</li>
		                                <li ng-if="isAcceleration(sensor.liveData)"><object type="image/svg+xml" data="../images/icons/accel.svg" width=100px height=100px class="icon active"></object>Acceleration: {{sensor.accel}}</li>
		                                <li ng-if="isLeftButton(sensor.liveData)"><object type="image/svg+xml" data="../images/icons/leftbutton.svg" width=100px height=100px class="icon active"></object>Left Button: {{sensor.btn_l}}</li>
		                                <li ng-if="isRightButton(sensor.liveData)"><object type="image/svg+xml" data="../images/icons/rightbutton.svg" width=100px height=100px class="icon active"></object>Right Button: {{sensor.btn_r}}</li>
		                                <li ng-if="isA2(sensor.liveData)">w: {{sensor.a2}}</li>
		                                <li ng-if="isA3(sensor.liveData)">x: {{sensor.a3}}</li>
		                                <li ng-if="isD2(sensor.liveData)">y: {{sensor.d2}}</li>
		                                <li ng-if="isD3(sensor.liveData)">z: {{sensor.d3}}</li>
		                                <button class="btn btn-primary" ng-click="loadLight(sensor.$id)">Light Graph</button>
		                            </ul>
								</div>
							</div>
					</div>

				</div>

			</div>




		</div>
	</div>
</div>
