<div class="row">
  <div class="col-xs-8">
    <div class="page-header"><h1>Sensors <small><span id="sensorCount">{{sensors.length}}</span> Sensors</small></h1>  </div>
    <table id="sensorTable" class="table table-striped">
      <tr>
        <td>Name</td>
        <td>Alive</td>
        <td>Battery</td>
        <td>Button</td>
        <td>Light</td>
        <td>Acceleration</td>
        <td>Temperature</td>
        <td>Compass</td>
        <td>Infrared</td>
        <td>Sound</td>
        <td>Stored data</td>
        <td>Live data</td>
        <td>Address</td>
      <!--  <td>Edit</td> -->
        <td class="table-controls"></td>
      </tr>

      <tr ng-repeat="sensor in sensors" ng-include="getTemplate(sensor)" id="{{sensor.$id}}" ng-click="editSensor(sensor)">

      </tr>
    </table>
  </div>

  <div class="col-xs-4">
    <div class="page-header"><h1>Error Log
      <span class="badge info" ng-click="filterErrors('info')">{{getTypeCount().info}}</span>
      <span class="badge warning" ng-click="filterErrors('warning')">{{getTypeCount().warning}}</span>
      <span class="badge error" ng-click="filterErrors('error')">{{getTypeCount().error}}</span>
      <span class="badge critical" ng-click="filterErrors('critical')">{{getTypeCount().critical}}</span>
      <span class="badge" ng-click="filterErrors('clear')">&times;</span>
    </h1></div>
      <div id="errorLogContainer">
        <div ng-repeat="error in displayErrors">

            <div id="{{error.$id}}" ng-if="error.lvl==0" class="alert alert-info alert-slide-up" >
              <a href="#" class="close"  aria-label="close" ng-click="deleteError(error)">&times;</a>
                  <p>{{error.msg}}</p>
                  <div class="error-timestamp">
                    {{error.$id | date: "dd MMM, HH:mm"}}
                  </div>
            </div>

            <div id="{{error.$id}}" ng-if="error.lvl==1" class=" alert alert-warning alert-slide-up">
              <a href="#" class="close"  aria-label="close" ng-click="deleteError(error)">&times;</a>
              <p>{{error.msg}}</p>
              <div class="error-timestamp">
                {{error.$id | date: "dd MMM, HH:mm"}}
              </div>
            </div>


            <div id="{{error.$id}}" ng-if="error.lvl==2" class=" alert alert-error alert-slide-up">
                <a href="#" class="close"  aria-label="close" ng-click="deleteError(error)">&times;</a>
                <p>{{error.msg}}</p>
                <div class="error-timestamp">
                  {{error.$id | date: "dd MMM, HH:mm"}}
                </div>
          </div>


            <div id="{{error.$id}}" ng-if="error.lvl==3" class=" alert alert-danger alert-slide-up">
                <a href="#" class="close"  aria-label="close" ng-click="deleteError(error)">&times;</a>
              <p>{{error.msg}}</p>
              <div class="error-timestamp">
                {{error.$id | date: "dd MMM, HH:mm"}}
              </div>
            </div>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>

</div>




<!-- Sensor template -->
<script type="text/ng-template" id="show">
    <td id="name">{{sensor.name}}</td>
    <td id="alive">{{sensor.alive}}</td>
    <td id="battery">{{sensor.battery}}</td>
    <td id="button">{{sensor.button}}</td>
    <td id="light">{{sensor.light}}</td>
    <td id="accel">{{sensor.accel}}</td>
    <td id="temp">{{sensor.temp}}</td>
    <td id="compass">{{sensor.compass}}</td>
    <td id="infrared">{{sensor.infrared}}</td>
    <td id="sound">{{sensor.sound}}</td>
    <td id="liveData">{{sensor.liveData}}</td>
    <td id="storedData">{{sensor.storedData}}</td>
    <td>{{sensor.$id}}</td>
    <td class="table-controls"></td>
</script>



<!-- Edit template -->
<script type="text/ng-template" id="edit">
    <td id="name"><input class="form-control" type="text" ng-model="sensor.name" /></td>
    <td id="alive">{{sensor.alive}}</td>
    <td id="battery">{{sensor.battery}}</td>
    <td id="button">{{sensor.button}}</td>
    <td id="light">{{sensor.light}}</td>
    <td id="accel">{{sensor.accel}}</td>
    <td id="temp">{{sensor.temp}}</td>
    <td id="compass">{{sensor.compass}}</td>
    <td id="infrared">{{sensor.infrared}}</td>
    <td id="sound">{{sensor.sound}}</td>
    <td id="liveData">{{sensor.liveData}}</td>
    <td id="storedData">{{sensor.storedData}}</td>
    <td>{{sensor.$id}}</td>
    <td class="table-controls">
      <div>
        <span class="glyphicon glyphicon-ok table-control" ng-click="save($index)"></span>
        <span class="glyphicon glyphicon-remove table-control" ng-click="cancel()"></span>
      </div>
    </td>
</script>

    <!-- Check JSON object -->
    <!-- <pre>{{ sensors | json }}</pre> -->
