<div class="container">
  <div class="row">

    <div class="main">

      <!-- LOGGED -->
      <div ng-if="logged">
      <h3>Authenticated Data</h3>
        <pre>{{authData | json}}</pre>
        <h3>Private, only limited to authenticated user</h3>
        <pre>{{userProfile | json}}</pre>
        <h3>Public access</h3>
        <pre>{{usersRef | json}}</pre>
      </div>

      <!-- NOT LOGGED -->
      <div ng-if="!logged">
        <h3>Please Log In, or <a href="/register">Sign Up</a></h3>
        <!--<div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
          </div>
        </div>-->

        <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
        </div>

        <form role="form" ng-submit="submit()" ng-controller="SigninCtrl">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" ng-model="user.email" required>
          </div>
          <div class="form-group">
            <!-- <a class="pull-right" href="#">Forgot password?</a> -->
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" ng-model="user.password" required>
          </div>
          <div class="checkbox pull-right">
<!--             <label>
              <input type="checkbox">
              Remember me </label> -->
          </div>
          <input type="submit" class="btn btn btn-primary" value="Log In" />

        </form>
      </div>



    </div>

  </div>
</div>
<br>
<br>
<br>
